<h1>Cadastro</h1>

<h2>Cliente</h2>
<form style="margin-top: 20px;">
  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" required>
  <br><br>
  
  <label for="cardId">Card ID:</label>
  <input type="text" id="cardId" name="cardId" required>
  <br><br>

<h2>Veículo</h2>
<form style="margin-top: 20px;">
  <label for="placa">Placa:</label>
  <input type="text" id="placa" name="placa" required>
  <br><br>

  <label for="modelo">Modelo:</label>
  <input type="text" id="modelo" name="modelo" required>
  <br><br>

  <label for="descricao_veiculo">Descrição:</label>
  <input type="text" id="descricao_veiculo" name="descricao_veiculo" required>
  <br><br>

<h2>Plano</h2>
<form style="margin-top: 20px;">
  <label for="descricao_plano">Descrição Plano:</label>
  <input type="text" id="descricao_plano" name="descricao_plano" required>
  <br><br>

<h2>Contrato</h2>
<form style="margin-top: 20px;">
  <label for="descricao_contrato">Descrição Contrato:</label>
  <input type="text" id="descricao_contrato" name="descricao_contrato" required>
  <br><br>

  <button type="submit">Enviar</button>
</form>
<br>
<button routerLink="/">Voltar</button>


